* {
  box-sizing: border-box;
  margin: 0;
}
.container {
  margin: auto;
  max-width: 1200px;
  width: 80vw;
  height: 603px;
  margin-top: 4%;
  border-top: 1px solid grey;
}
header {
  width: 15%;
  height: 100%;
  padding-top: 2%;
}
main {
  width: 85%;
  height: 100%;

  /* border: 2px solid; */
}
header .crunch-logo {
  width: 40px;
}
header,
main {
  float: left;
}
.box {
  width: 32%;
  /* border: 1px solid ; */
  float: left;
  height: 150px;
  padding: 2%;
}
.one,
.two {
  height: 450px;
}
.one {
  width: 60%;
  position: relative;
}
.one > h3 {
  position: absolute;
  bottom: 1.5%;
}
.one > p {
  margin: 1% 0 1% 0;
}
.two {
  width: 40%;
  /* margin-left: 2%; */
}

.two > div {
  position: relative;
  height: 100px;
}
.two > div > span {
  position: absolute;
  bottom: 4%;
  left: 0;
}
.three > h2 {
  margin-bottom: 2%;
}
.one,
.two {
  border-bottom: 1px solid grey;
}
.four,
.five {
  margin-left: 2%;
}
nav {
  padding-left: 10px;
  height: 60%;
  /* border: 1px solid ; */
}
ul {
  margin-top: 2%;
  height: 100%;
  list-style: none;
  padding: 0;
}
li {
  height: 10%;
}
a {
  text-decoration: none;
  color: grey;
  font-size: clamp(12px, 1.5vw, 16px);
}
.gold,
.gold i {
  color: gold;
}
i {
  margin: 0.5%;
  color: grey;
}
.fintech {
  width: 100%;
  height: 50%;
  border: 1px solid green;
  margin-top: 3%;
}
.fintech > img {
  width: 100%;
  height: 100%;
}

.two > div:not(div:last-of-type) {
  border-bottom: 1px solid grey;
  height: 25%;
}

.five > img {
  width: 100%;
  height: 100%;
}
p {
  font-size: clamp(14px, 1.5vw, 16px);
}
h1 {
  font-size: clamp(1.8rem, 2.8vw, 2rem);
}
h2 {
  font-size: clamp(0.8rem, 1.5vw, 1.1rem);
}

@media (max-width: 890px) {
  header {
    display: none;
  }
}
@media (max-width: 680px) {
  .box {
    float: none;
    width: 100%;
  }
  h2,
  p {
    font-size: 1.2rem;
    padding-top: 1%;
  }
  .container {
    border-top: 0;
    height: 200vh;
    margin-top: 0;
  }
  main {
    width: 100%;
    padding: 3%;
  }
  .four,
  .five {
    margin-left: 0;
    padding: 0;
  }
  .box {
    padding: 0;
  }
  .five {
    margin-top: -5%;
  }
  .three {
    border-bottom: 1px solid grey;
  }
}
