/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
h1,
h2 {
  text-align: left;
}
img {
  display: block;
  width: 4rem;
  margin: 0 auto;
}

.container {
  border: 2px solid magenta;
  max-width: 40rem;
  width: 100%;
  height: 30rem;
  margin: 0 auto;
}

.card {
  border: 2px solid orangered;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
